.reviewQuestions-container {
  padding: 10px;
  background-color: #2e2e2e;
  color: #f0f0f0;
  border-radius: 40px;
  margin-bottom: 100px;
}
.reviewQuestions-container h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

.questions-header,
.question {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.questions-header {
  font-weight: bold;
  border-bottom: 1px solid #444;
}

.question {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.question:hover {
  background-color: #3e3e3e;
}

.difficulty-easy {
  color: #28a745;
}

.difficulty-medium {
  color: #ffc107;
}

.difficulty-hard {
  color: #dc3545;
}

.prev-time {
  color: #999;
}
